/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 1.5rem;
}

.container {
  max-width: 550px;
  max-height: 550px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-radius: 0.75em;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#colorSchemeForm {
  display: flex;
  justify-content: center;
  gap: 1em;
}
#colorSchemeForm > * {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

#colorSchemeForm select,
#colorSchemeForm button {
  background-color: #ffffff;
  border: 1px #d1d5db solid;
  border-radius: 0.5em;
}

#colorSchemeForm select {
  padding: 0 0.5em;
}

#colorSchemeForm select > * {
  font-family: "Inter", sans-serif;
}

#colorSchemeForm button {
  padding: 0 1em;
  cursor: pointer;
}
#colors {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.color {
  display: flex;
  height: 100px;
  width: 110px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.colorInfo {
  background-color: white;
  position: absolute;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  font-weight: 300;
}
#colorOne {
  background-color: #f55a5a;
}
#colorTwo {
  background-color: #2b283a;
}
#colorThree {
  background-color: #fbf3ab;
}

#colorFour {
  background-color: #aad1b6;
}

#colorFive {
  background-color: #a626d3;
}
